<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/NEIGHBORHOODPSS</property>
        <property name="connection.username">NHPSSUSER</property>
        <property name="connection.password">RESU#2008_2010</property> 

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
         <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
		
		<!--  Mapping files -->
		<mapping class = "org.visico.neighborhoodpss.gwt.server.project.db.Scenario"/>
		<mapping class = "org.visico.neighborhoodpss.gwt.server.project.db.Building"/>
		<mapping class = "org.visico.neighborhoodpss.gwt.server.project.db.GeoPoint"/>
		<mapping class = "org.visico.neighborhoodpss.gwt.server.project.db.Network"/>
		<mapping class = "org.visico.neighborhoodpss.gwt.server.project.db.GeoNetwork"/>
		<mapping class = "org.visico.neighborhoodpss.gwt.server.project.db.BuildingNetwork"/>
		<mapping class = "org.visico.neighborhoodpss.gwt.server.project.db.Node"/>
		<mapping class = "org.visico.neighborhoodpss.gwt.server.project.db.Edge"/>
		<mapping class = "org.visico.neighborhoodpss.gwt.server.project.db.Project"/>
		<mapping class = "org.visico.neighborhoodpss.gwt.server.project.db.User"/>
		<mapping class = "org.visico.neighborhoodpss.gwt.server.project.db.GeoEdge"/>
		<mapping class = "org.visico.neighborhoodpss.gwt.server.project.db.BuildingEdge"/>
	
    </session-factory>

</hibernate-configuration>